*{
    margin: 0px;
    padding: 0px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}


.container{
    background-color: aqua;
    text-align: center;
    margin-top: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.intro{
    text-align: center;
    margin-top: 4px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.red{
    color: red;
    font-size: 20px;
    
}